<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>default</key>
        <dict>
            <key>BaseURL</key>
            <string>mmx://prod-mmx-001.magnet.com:5222</string>
            <key>DomainName</key>
            <string>prod-mmx-001</string>
            <key>AppId</key>
            <string>m0sierrqslo</string>
            <key>ApiKey</key>
            <string>b733fb22-fdd2-4913-a371-16807e595af8</string>
            <key>AnonymousSecret</key>
            <string>ae60999b-3ed2-478c-8559-b135d90f9051</string>
            <key>ShouldForceTLS</key>
            <true/>
            <key>PublicAPIPort</key>
            <integer>5221</integer>
            <key>AllowInvalidCertificates</key>
            <false/>
        </dict>
    </dict>
</plist>
